.checkoutContainer {
	width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

.checkoutConfirmPopup {
    width:100%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: white;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #ECC252;
  box-sizing: border-box;
}

.surveyForm {
    letter-spacing: 5px;
    line-height: 70px;
    font-family: $bodyFont;
    input {
        width: 1.5em;
        height: 1.5em;
    }
}