#homeContainer {
	width: $pageMobileWidth;
	margin: 0 auto;
	background-color: darken(#EB9409, 13%);
	height: 1000px;
	background-image: url('../img/lamptablet.jpg');
	// @include mediaTablet {
	// 	width: $pageTabletWidth;
	// }
}

#homeBannerContainer {
	position: relative;
	top: 80px;
	height: 300px;
	// @include mediaTablet {
	// 	height: 490px;
	// }
	background-color: rgba(190,190,190,0.5);
	width: inherit;

}

.homeImage {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.homeButton {
	width: 150px;
	height: 80px;
	// @include mediaTablet {
	// 	width: 200px;
	// 	height: 100px;
	// };
	font-family: $headerFont;
	font-size: 1.2em;
	box-shadow: -3px 3px 1px black;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 7px;
	border-radius:8px;
	background-color: burlywood;
}

.homeButton:active {
	box-shadow: 0px 0px 1px black;	
}

.homeButton:hover {
	background-color: lighten(#EB9409, 30%)
}

#waiterPopup {
	display: none;
}