@import 'variables';
@import 'mixins';
@import 'index';
@import 'menu';

#masterContainer {
	width: 100%;
	height: 100%;
}

#headerContainer {
	width: $pageMobileWidth;
	background: $backgroundGradient;
	height: 235px; //logo + nav buttons
}

#pageContainer {
	width: $pageMobileWidth;
    height: 1500px;
    background: $backgroundGradient;
}

#whiteContainer { //maybe move to menu.scss
	width: 90%;
	background-color: antiquewhite;
	height: 96%;
}

.headerImage {
	margin-top: 20px;
	width: 100%;
}

#headerNav {
	width: 100%;	
}

#headerNav ul li {
	display: inline;
}

.navButton {
	height: 50px;
	border-radius: 18px;
	text-align: center;
	letter-spacing: 1px;
	box-shadow: -1px 1px 1px lighten(black,10%);
}

.inactiveButton {
	background-color: rgba(222, 184, 135, 0.2);
	width: 35%;
	border: 2px burlywood solid;
}

.activeButton {
	background-color: rgba(222, 184, 135, 1);
	width: 41%;
}

