@import 'variables';
@import 'mixins';
@import 'index';
@import 'menu';

#masterContainer {
	width: device-width;
	height: 100%;
	background: $backgroundGradient;
}

#headerContainer {
	background: $backgroundGradient;
	padding-bottom: 50px;
	@extend .centerMe;
}

#pageContainer {
    background: $backgroundGradient;
    @extend .centerMe;
}

#whiteContainer { //maybe move to menu.scss
	width: 90%;
	background-color: antiquewhite;
	height: 96%;
	border-radius: 10px;
	@extend .centerMe;
	margin-bottom: 20px;
}

.headerImage {
	margin-top: 20px;
	width: 100%;
	max-width: 700px;
}

#headerNav {	
	width: 100%;
	max-width: 700px;	
	ul li {
		display: inline;
	}
	@extend .centerMe;
}

.navButton {
	height: 50px;
	border-radius: 18px;
	text-align: center;
	letter-spacing: 1px;
	box-shadow: -1px 1px 1px lighten(black,10%);
}

.inactiveButton {
	background-color: rgba(222, 184, 135, 0.2);
	width: 35%;
	border: 2px burlywood solid;
}

.activeButton {
	background-color: rgba(222, 184, 135, 1);
	width: 41%;
}

