@import 'variables';
@import 'mixins';
@import 'index';
@import 'menu';
@import 'cart';

button {
	border: 0;
	font-size: 0.8em;	
	@include mediaTablet {
		font-size: 0.9em;
	}
	@include mediaDesktop {
		font-size: 1em;
	}
	cursor: pointer;
	font-family: $headerFont;
	outline:none;
	transition-duration: 0.1s;
}


.cartItemImage, .menuItemImage {
	border-radius: 8px;
	box-shadow: -1px 1px 3px #222;
}


#masterContainer {
	width: device-width;
	height: 100vh;
	background: $backgroundGradient;
}

#headerContainer {
	background: $backgroundGradient;
	padding-bottom: 20px;
	@extend .centerMe;
}

#pageContainer {
    background: $backgroundGradient;
    @extend .centerMe;
    height: 100%;
}



#whiteContainer { //maybe move to menu.scss
	width: 90%;
	background: $foregroundGradient;
	height: 96%;
	border-radius: 10px;
	@extend .centerMe;
	margin-bottom: 20px;
}

.headerImage {
	margin-top: 20px;
	width: 100%;
	max-width: 700px;
}

#headerNav {	
	width: 100%;
	max-width: 700px;
	@extend .centerMe;
}

.navButton {
	height: 50px;
	border-radius: 18px;
	text-align: center;
	letter-spacing: 1px;
	box-shadow: -1px 1px 2px lighten(black,10%);
}

.inactiveButton {
	background-color: rgba(207, 158, 23, 0.2);
	width: 35%;
}

.activeButton {
	background-color: rgba(207, 158, 23, 1);
	width: 41%;
}

.goButton {
	background-color: rgba(207, 158, 23, 1);
}

.disableButton {
	pointer-events: none;
}

.disableButton button {
	background-color: grey;
}

#footerContainer {
	background: $backgroundGradient;
}